@import "base";


#site-head {
  background-image: url(/images/cover.jpg);
}

article.post section.post-content{
  text-align:justify;
}
iframe,
object,
embed {
  position:relative;
  top:0;
  left:0;
  width:100%;
  min-height:400px;
  margin-top:0;
}

